:root{
    --background: #040327;
    --menuBackground: #1a191a;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: math;
}

body {
    height: 100dvh;
    display: flex;
    overflow: hidden;
    background-color: var(--background);
}

body:after{
    content:'';
    position: absolute;
    top: -1em;
    right: -4em;
    background: #c9c9c9;
    box-shadow: 0 0 2em #616161;
    width: 12em;
    aspect-ratio:1;
    border-radius: 50%;
    z-index: -2;
}

form {
    width: 100dvw;
    height: 100vh;
}

input {
    display: none;
}

label:hover {
    cursor: pointer;
}

/* Menu on the left */
body>form:first-of-type fieldset:first-of-type {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    width: 20em;
    background-color: var(--menuBackground);
    gap: 1em;
    padding: 1em;
    align-content: start;
    transform: translateX(-25em);
    z-index: 2;
    max-width:70%;
}

body>form:first-of-type fieldset:first-of-type label {
    background-color: var(--background);
    color: white;
    flex: 1 1 22%;
    text-align: center;
    padding: 2em 1em;
    align-self: center;
    border-radius: .4em;
    transition: .5s;
}

body>form:first-of-type fieldset:first-of-type label:nth-of-type(n+2) {
    filter: brightness(4.5);
}

form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(1) label:nth-of-type(2) {
    box-shadow: 0 0 0.5em 0 black inset;
    background: hsl(198deg 67% 54%);
}

body>form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:first-of-type label:nth-of-type(2)::before {
    content: '✅';
}

body>form:first-of-type fieldset:first-of-type label:hover {
    transform: scale(1.05);
    text-decoration: underline;
    font-weight: 700;
}

/* Changes width of the content once the menu has been folded open */
form:has(> fieldset:first-of-type > input:first-of-type:checked)>fieldset:nth-of-type(n+3) {
    width: 36.5em;
    top: 90%;
    height: 95%;
    margin-top: 4em;
    right: 1.5em;
    border-radius: .5em;
}

/* Menu on the left folded open */
form:has(> fieldset:first-of-type > input:first-of-type:checked)>fieldset:first-of-type {
    transform: translateX(0);
}

/* Left side button */
/* Resizes the label and allows you to click through it */
form:has(> fieldset:first-of-type > input:first-of-type:checked)>fieldset:first-of-type>label:first-of-type {
    pointer-events: none;
    height: 3.3em;
    background-color: var(--menuBackground);
    z-index: -1;
    width: 9em;
    left: 15em;
}

/* Because it is relative, it is directly in the middle, hence top -23.7em */
body>form:first-of-type fieldset:first-of-type label:first-of-type {
    position: relative;
    order: 1;
    top: -23.7em;
    padding: 0;
    flex: unset;
    height: 3.3em;
    border-radius: .2em;
    left: 18em;
    width: 11em;
    background-color: unset;
    color: transparent;
    text-align: right;
}

/* Move the after 'button' to the top left and set the text to Firework */
body>form:first-of-type fieldset:first-of-type label:first-of-type::before {
    content: 'Firework';
    background-color: var(--menuBackground);
    color: var(--background);
    font-family: system-ui;
    font-weight: 700;
    padding: 1em;
    position: absolute;
    border-radius: 0 .5em .5em 0;
    left: 0em;
    pointer-events: all;
    transform: translateX(6em);
    transition: 1s;
    z-index: -6;
}

/* location and size of the expand button changes. This button is the styling for the expand button */
/* Also changes the text to an X */
body>form:has(> fieldset:first-of-type > input:first-of-type:checked)>fieldset:first-of-type label:first-of-type::before {
    content: 'X';
    color: var(--background);
    background-color: var(--menuBackground);
    transform: translateX(3em);
    transition: .5s;
    width: 8em;
    left: -4em;
}

/* Expand Button main styling */
body>form:first-of-type>label {
    position: absolute;
    background-color: red;
    padding: 1em;
    border-radius: .4em;
    bottom: 1em;
    z-index: 4;
}

/* Menu onderneith the viewport */
/* position is set 100% down and styled */
form>fieldset:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 5em;
    width: 100vw;
    background: var(--menuBackground);
    left: 0;
    z-index: 3;
    justify-content: end;
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
}

/* Textboxes styling */
form>fieldset:nth-of-type(2) label input {
    width: 100%;
    height: 100%;
    background: white;
    display: unset;
    font-size: 3.5em;
    text-align: center;
    font-family: system-ui;
    font-variant: unicase;
}

/* Resize the labels */
form>fieldset:nth-of-type(2)>label {
    width: 3em;
    height: 3em;
}

/* Positioning and styling the button on the left */
form>fieldset:nth-of-type(2)>label:first-of-type {
    position: relative;
    left: 2em;
    bottom: 4em;
    background: var(--menuBackground);
    border-radius: .5em .5em 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 3em;
    width: 3em;
    font-size: 1em;
    color: transparent;
    margin-right: auto;
}

form:has(>fieldset:nth-of-type(1)>input:first-of-type:checked)>fieldset:nth-of-type(2)>label:first-of-type {
    border: .09em solid var(--background);
}

/* hide the menu down by default */
form:has(>fieldset:nth-of-type(2)>input:first-of-type:checked)>fieldset:nth-of-type(2) {
    transform: translateY(0em);
    box-shadow: 0 0 .5em var(--background);
}

/* Change text in the label by placing the after */
form>fieldset:nth-of-type(2)>label:first-of-type::after {
    content: '^';
    color: var(--background);
    font-weight: bold;
    font-size: 3em;
    position: relative;
    top: .2em;
    transition: .5s;
    order: -1;
    margin-left: .2em;
}

/* Animation for flipping the arrow */
form:has(>fieldset:nth-of-type(2)>input:first-of-type:checked)>fieldset:nth-of-type(2)>label:first-of-type::after {
    top: -0.1em;
    transform-origin: .28em;
    transform: scaleY(-1);
}

/* flip first firework layer up */
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3) {
    transform: translateY(-100%);
}

form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) {
    transform: translateY(-100%);
}

form>fieldset:nth-of-type(n+3) {
    opacity: .5;
}

form>fieldset:nth-of-type(n+3) {
    position: absolute;
    width: 100vw;
    top: 100%;
}

form:has(> fieldset:first-of-type > input:nth-of-type(4):checked)>fieldset:nth-of-type(5) {
    background-color: greenyellow;
    transform: translateY(-100%);
}

form:has(> fieldset:first-of-type > input:nth-of-type(5):checked)>fieldset:nth-of-type(6) {
    background-color: aqua;
    transform: translateY(-100%);
}

form:has(> fieldset:first-of-type > input:nth-of-type(6):checked)>fieldset:nth-of-type(7) {
    background-color: azure;
    transform: translateY(-100%);
}

form:has(> fieldset:first-of-type > input:nth-of-type(7):checked)>fieldset:nth-of-type(8) {
    background-color: blue;
    transform: translateY(-100%);
}

form:has(> fieldset:first-of-type > input:nth-of-type(8):checked)>fieldset:nth-of-type(9) {
    background-color: blueviolet;
    transform: translateY(-100%);
}

form:has(> fieldset:first-of-type > input:nth-of-type(9):checked)>fieldset:nth-of-type(10) {
    background-color: burlywood;
    transform: translateY(-100%);
}

form:has(> input:last-of-type:checked)>fieldset:nth-of-type(2) {
    transform: translateY(0em);
}

fieldset {
    z-index: -1;
    transition: .5s;
    position: relative;
    height: 0;
    height: 100dvh;
    z-index: 1;
}

form>fieldset:nth-of-type(2) label:last-of-type {
    padding-right: 1em;
}


/* First animation */

form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:first-of-type,
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:first-of-type::before,
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:first-of-type::after,
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2),
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2)::before,
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2)::after,
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3),
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3)::before,
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3)::after {
    content: '';
    --colorDeg: 60deg;
    --color: hsl(var(--colorDeg) 100% 50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    background: radial-gradient(circle, var(--color) .2em, #0000 0) 50% 00%,
        radial-gradient(circle, var(--color) .3em, #0000 0) 00% 25%,
        radial-gradient(circle, var(--color) .5em, #0000 0) 15% 45%,
        radial-gradient(circle, var(--color) .2em, #0000 0) 95% 45%,
        radial-gradient(circle, var(--color) .3em, #0000 0) 5% 70%,
        radial-gradient(circle, var(--color) .5em, #0000 0) 65% 85%,
        radial-gradient(circle, var(--color) .2em, #0000 0) 25% 85%,
        radial-gradient(circle, var(--color) .3em, #0000 0) 85% 65%,
        radial-gradient(circle, var(--color) .5em, #0000 0) 75% 25%,
        radial-gradient(circle, var(--color) .2em, #0000 0) 90% 15%;
    background-size: 0.2em 0.2em;
    background-repeat: no-repeat;
    animation: firework 2s infinite;
    border-radius: .5em;
}

form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div::before {
    transform: translate(-50%, -50%) rotate(45deg) !important;
    --colorDeg: 30deg;
}

form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div::after {
    transform: translate(-50%, -50%) rotate(-27deg) !important;
    --colorDeg: 10deg;
}

@keyframes firework {
    0% {
        transform: translateY(60vh);
        opacity: 1;
    }

    50% {
        width: 0.3em;
        opacity: 1;
    }

    100% {
        width: 50dvw;
        opacity: 0;
    }
}

form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2),
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2)::before,
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2)::after {
    left: 20%;
    bottom: 20%;
    animation-delay: .5s;
    --colorDeg: 80deg;
    --color: hsl(var(
    --colorDeg) 100% 50%);
}
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3),
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3)::before,
form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3)::after {
    left: 80%;
    top: 40%;
    animation-delay: 1.2s;
    --colorDeg: 20deg;
    --color: hsl(var(
    --colorDeg) 100% 50%);
    transform: translate(-50%, -50%) rotate(45deg);
}


form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div {
    animation: move 200ms infinite cubic-bezier(0.32, 0.28, 0.6, 0.71);
    width: 1em;
    height:.2em;
    aspect-ratio: 1;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,212,255,1) 44%);
}

form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:first-of-type {
    offset-path:path("M 9.5 70 L 0 70 L 0 0 L 41.5 0 L 41.5 8.2 L 9.5 8.2 L 9.5 29.6 L 36.2 29.6 L 36.2 37.4 L 9.5 37.4 L 9.5 70 Z");
}
form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:nth-of-type(2) {
    offset-path:path("M 9.5 70 L 0 70 L 0 0 L 9.5 0 L 9.5 70 Z");
}
form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:nth-of-type(3) {
    offset-path:path("M 49.7 67.801 L 40.8 72.001 L 32.1 53.001 A 30.586 30.586 0 0 0 29.509 48.427 Q 27.003 44.823 23.8 42.901 Q 19.445 40.287 12.964 39.95 A 37.847 37.847 0 0 0 11 39.901 L 9.5 39.901 L 9.5 70.801 L 0 70.801 L 0 1.001 Q 5.3 0.501 10.15 0.251 A 187.94 187.94 0 0 1 16.466 0.036 A 226.267 226.267 0 0 1 20.5 0.001 Q 33.3 0.001 39.75 5.201 A 17.414 17.414 0 0 1 44.38 10.735 Q 46.2 14.244 46.2 18.601 A 19.88 19.88 0 0 1 45.549 23.821 A 14.672 14.672 0 0 1 41.85 30.351 Q 37.5 34.801 29.3 37.001 A 23.656 23.656 0 0 1 32.729 38.863 A 20.427 20.427 0 0 1 34.1 39.851 Q 36.069 41.397 37.905 43.911 A 29.29 29.29 0 0 1 38.15 44.251 Q 40.1 47.001 42.1 51.401 L 49.7 67.801 Z M 9.5 8.401 L 9.5 31.901 L 20.5 31.901 A 26.489 26.489 0 0 0 25.423 31.469 Q 29.352 30.726 32.2 28.701 Q 36.7 25.501 36.7 19.501 A 9.811 9.811 0 0 0 33.427 12.036 A 13.272 13.272 0 0 0 32.5 11.251 A 13.923 13.923 0 0 0 28.136 9.029 Q 26.207 8.418 23.877 8.17 A 31.944 31.944 0 0 0 20.5 8.001 Q 17.326 8.001 14.762 8.088 A 118.974 118.974 0 0 0 14.4 8.101 Q 11.7 8.201 9.5 8.401 Z");
}
form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:nth-of-type(4) {
    offset-path:path("M 42 70 L 0 70 L 0 0 L 42 0 L 42 8.2 L 9.5 8.2 L 9.5 29.5 L 37.5 29.5 L 37.5 37.5 L 9.5 37.5 L 9.5 61.8 L 42 61.8 L 42 70 Z");
}
form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:nth-of-type(5) {
    offset-path:path("M 30.8 70.7 L 19 70.7 L 0 3 L 9.4 0 L 25.2 60.6 L 40.1 8 L 52 8 L 66.8 60.6 L 82.5 0.3 L 91.3 3 L 72.4 70.7 L 60.6 70.7 L 45.8 18.1 L 30.8 70.7 Z");
}
form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:nth-of-type(6) {
    offset-path:path("M 25.409 71.643 A 36.51 36.51 0 0 0 33.001 72.401 A 38.35 38.35 0 0 0 38.162 72.064 A 30.074 30.074 0 0 0 46.901 69.551 Q 53.001 66.701 57.301 61.751 Q 61.601 56.801 63.851 50.201 Q 66.101 43.601 66.101 36.101 A 48.215 48.215 0 0 0 66.022 33.323 A 41.439 41.439 0 0 0 63.851 22.101 Q 61.601 15.601 57.301 10.601 Q 53.001 5.601 46.851 2.801 A 29.925 29.925 0 0 0 40.959 0.838 A 36.42 36.42 0 0 0 33.001 0.001 A 39.35 39.35 0 0 0 26.773 0.476 A 29.661 29.661 0 0 0 15.301 4.751 Q 7.901 9.501 3.951 17.651 A 37.989 37.989 0 0 0 1.115 25.764 A 46.182 46.182 0 0 0 0.001 36.101 A 48.913 48.913 0 0 0 0.036 37.961 A 42.769 42.769 0 0 0 2.251 50.201 A 39.376 39.376 0 0 0 2.69 51.423 A 34.353 34.353 0 0 0 8.751 61.751 Q 13.001 66.701 19.101 69.551 A 29.142 29.142 0 0 0 25.409 71.643 Z M 33.001 64.201 A 26.517 26.517 0 0 0 38.949 63.566 A 19.316 19.316 0 0 0 45.901 60.501 A 22.47 22.47 0 0 0 53.226 51.63 A 27.252 27.252 0 0 0 53.751 50.451 A 34.108 34.108 0 0 0 56.073 41.522 A 43.503 43.503 0 0 0 56.401 36.101 Q 56.401 30.701 54.801 25.701 A 29.735 29.735 0 0 0 50.661 17.374 A 28.121 28.121 0 0 0 50.201 16.751 Q 47.201 12.801 42.851 10.501 A 19.921 19.921 0 0 0 35.434 8.319 A 24.578 24.578 0 0 0 33.001 8.201 A 24.086 24.086 0 0 0 26.508 9.041 A 19.545 19.545 0 0 0 20.451 11.901 A 23.148 23.148 0 0 0 12.85 21.027 A 27.785 27.785 0 0 0 12.451 21.901 A 32.793 32.793 0 0 0 9.997 31.088 A 41.257 41.257 0 0 0 9.701 36.101 Q 9.701 41.501 11.251 46.551 A 29.379 29.379 0 0 0 15.431 55.096 A 27.923 27.923 0 0 0 15.801 55.601 Q 18.801 59.601 23.151 61.901 A 19.921 19.921 0 0 0 30.568 64.082 A 24.578 24.578 0 0 0 33.001 64.201 Z");
}
form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:nth-of-type(7) {
    offset-path:path("M 49.7 67.801 L 40.8 72.001 L 32.1 53.001 A 30.586 30.586 0 0 0 29.509 48.427 Q 27.003 44.823 23.8 42.901 Q 19.445 40.287 12.964 39.95 A 37.847 37.847 0 0 0 11 39.901 L 9.5 39.901 L 9.5 70.801 L 0 70.801 L 0 1.001 Q 5.3 0.501 10.15 0.251 A 187.94 187.94 0 0 1 16.466 0.036 A 226.267 226.267 0 0 1 20.5 0.001 Q 33.3 0.001 39.75 5.201 A 17.414 17.414 0 0 1 44.38 10.735 Q 46.2 14.244 46.2 18.601 A 19.88 19.88 0 0 1 45.549 23.821 A 14.672 14.672 0 0 1 41.85 30.351 Q 37.5 34.801 29.3 37.001 A 23.656 23.656 0 0 1 32.729 38.863 A 20.427 20.427 0 0 1 34.1 39.851 Q 36.069 41.397 37.905 43.911 A 29.29 29.29 0 0 1 38.15 44.251 Q 40.1 47.001 42.1 51.401 L 49.7 67.801 Z M 9.5 8.401 L 9.5 31.901 L 20.5 31.901 A 26.489 26.489 0 0 0 25.423 31.469 Q 29.352 30.726 32.2 28.701 Q 36.7 25.501 36.7 19.501 A 9.811 9.811 0 0 0 33.427 12.036 A 13.272 13.272 0 0 0 32.5 11.251 A 13.923 13.923 0 0 0 28.136 9.029 Q 26.207 8.418 23.877 8.17 A 31.944 31.944 0 0 0 20.5 8.001 Q 17.326 8.001 14.762 8.088 A 118.974 118.974 0 0 0 14.4 8.101 Q 11.7 8.201 9.5 8.401 Z");
}
form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:nth-of-type(8) {
    offset-path:path("M 50.1 64.7 L 43.5 71.5 L 9.5 38.1 L 9.5 70.3 L 0 70.3 L 0 0.3 L 9.5 0.3 L 9.5 32.2 L 39.3 0 L 45.7 5.9 L 18.4 34.3 L 50.1 64.7 Z");
}
form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div:nth-of-type(9) {
    offset-path:path("M 0 65.3 L 4.8 57.3 Q 8.4 60.3 12.9 62.2 A 23.348 23.348 0 0 0 18.27 63.71 A 32.118 32.118 0 0 0 23.4 64.1 A 27.981 27.981 0 0 0 27.947 63.754 Q 30.37 63.354 32.331 62.494 A 13.701 13.701 0 0 0 34.8 61.1 Q 38.848 58.209 38.995 53.366 A 12.116 12.116 0 0 0 39 53 A 11.94 11.94 0 0 0 38.663 50.107 A 9.816 9.816 0 0 0 37.8 47.85 A 8.097 8.097 0 0 0 36.6 46.194 Q 35.33 44.813 33.184 43.471 A 25.81 25.81 0 0 0 33.15 43.45 Q 30.034 41.508 24.265 39.28 A 118.584 118.584 0 0 0 23 38.8 Q 15.8 36 11.5 33.15 A 21.931 21.931 0 0 1 8.411 30.703 Q 6.694 29.053 5.638 27.188 A 13.303 13.303 0 0 1 5.35 26.65 Q 3.5 23 3.5 18 Q 3.5 13 6.25 8.95 Q 9 4.9 14.35 2.45 A 25.558 25.558 0 0 1 20.25 0.615 Q 23.493 0 27.3 0 Q 33.5 0 38.45 1.25 Q 43.4 2.5 48.1 4.8 L 44.6 12.9 A 31.496 31.496 0 0 0 40.474 10.881 A 41.686 41.686 0 0 0 36.65 9.55 Q 32.1 8.2 27.1 8.2 A 27.187 27.187 0 0 0 23.07 8.48 Q 20.938 8.8 19.2 9.487 A 12.616 12.616 0 0 0 16.7 10.8 A 9.902 9.902 0 0 0 14.537 12.765 A 7.359 7.359 0 0 0 12.9 17.5 A 10.464 10.464 0 0 0 13.192 20.022 A 8.562 8.562 0 0 0 14 22.1 Q 15.056 24.019 18.091 25.847 A 23.503 23.503 0 0 0 18.35 26 A 33.003 33.003 0 0 0 20.566 27.172 Q 22.835 28.275 26.046 29.523 A 130.016 130.016 0 0 0 28.1 30.3 A 81.228 81.228 0 0 1 33.078 32.329 Q 37.464 34.3 40.45 36.4 A 26.044 26.044 0 0 1 43.49 38.878 Q 45.713 41.006 46.9 43.35 A 17.579 17.579 0 0 1 48.641 49.213 A 22.155 22.155 0 0 1 48.8 51.9 A 21.71 21.71 0 0 1 48.133 57.401 A 17.105 17.105 0 0 1 45.55 63 Q 42.3 67.6 36.55 70 A 30.521 30.521 0 0 1 29.14 72.004 A 40.027 40.027 0 0 1 23.4 72.4 Q 16.1 72.4 10.1 70.45 A 38.206 38.206 0 0 1 4.733 68.268 A 28.433 28.433 0 0 1 0 65.3 Z");
}

form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) > div {
    width: 100%;
    height: 4em;
    display: flex;
    margin: 2em;
    gap: 4em;
    justify-content: center;
    align-items: center;
    position: absolute;
}

form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div::before {
    content: '';
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,212,255,1) 100%);
    height: .2em;
    width: .7em;
    top: 0;
    left: 0;
    position: absolute;
}

@media (prefers-color-scheme: light) {
    :root{
        --background: #94e1ec;
    }
    body>form:first-of-type fieldset:first-of-type label:nth-of-type(n+2){
        filter:unset;
    --background: #3bc2d8;
    }
    form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(1) label:nth-of-type(2){
        /* background:var(--background); */
    }
    body::before{
        color:black;
        content:"it's a bit light in here, isn't it?, try the dark mode";
        position: absolute;
        z-index: 0;
        width: 100%;
        text-align: center;
        top: 1em;
    }
    body:after{
        content:'';
        position: absolute;
        top: -1em;
        right: -4em;
        background:yellow;
        box-shadow: 0 0 2em yellow;
        width: 12em;
        aspect-ratio:1;
        border-radius: 50%;
        z-index: -1;
    }
}
@media (prefers-color-scheme: dark) {
    body>form:has(> fieldset:first-of-type > input:first-of-type:checked)>fieldset:first-of-type label:first-of-type::before, form>fieldset:nth-of-type(2)>label:first-of-type, body>form:first-of-type fieldset:first-of-type label:first-of-type::before{
        --background: #0f08ef;
    }
    form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(1) label:nth-of-type(2){
        filter:unset;
    }
}

@media(max-width:400px){
    form:has(> fieldset:first-of-type > input:first-of-type:checked)>fieldset:first-of-type>label:first-of-type{
        left: 10em;
    }
    form:has(> fieldset:first-of-type > input:nth-of-type(1):checked)>fieldset:nth-of-type(3) {
        position: absolute;
        height: 14em;
        width: 8em;
        right: 1em;
        border: 1px solid black;
        overflow: hidden;
        z-index: 2;
        background: rgb(0 0 0 / .5);
        backdrop-filter: blur(.2em);
        transform: translateY(0%);
        top: unset;
        bottom: 1em;
    }
    form:has(> fieldset:first-of-type > input:nth-of-type(1):checked)>fieldset:nth-of-type(n+3) {
        position: absolute;
        height: 14em;
        width: 8em;
        right: 1em;
        top: unset;
        transform: translateY(0);
        bottom: 1em;
        z-index: 2;
        overflow: hidden;
    }
    form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) > div{
        transform: scale(0.7);
    }
}



@keyframes move {
  to {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@media (prefers-reduced-motion) {
    form:has(> fieldset:first-of-type > input:nth-of-type(3):checked)>fieldset:nth-of-type(4) div div{
        animation:move 2000ms infinite cubic-bezier(0.32, 0.28, 0.6, 0.71);
    }
    form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:first-of-type, form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:first-of-type::before, form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:first-of-type::after, form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2), form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2)::before, form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(2)::after, form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3), form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3)::before, form:has(> fieldset:first-of-type > input:nth-of-type(2):checked)>fieldset:nth-of-type(3)>div:nth-of-type(3)::after{
        animation:firework 6s infinite;
    }       
}